<footer class="blog-footer bg-white fixed-bottom">
  <p class="text-center">Blog template built for <a href="https://www.microverse.com/">Microverse</a> by <a href="https://github.com/AbdumurodovaZulfizar">Zulfizar Abdumurodova</a>.</p>
  <p class="text-center">
    <a href="#">Back to top</a>
  </p>
</footer>